@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  color: #4b4b4b;
  font-family: "Roboto";
  background-color: #f5f5f5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1050px;
  margin: 0px auto;
  padding: 0px 15px;
}

.titles__label {
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5d62b5;
  padding: 0px 0px 0px 34px;
  background: url("../assets/promise/icons/title-icon.svg") -3px -2px no-repeat;
}
.titles__label:not(:last-child) {
  margin-bottom: 28px;
}
.titles__label_white {
  color: #ffffff;
  background: url("../assets/who-we-are/icons/title-icon_white.svg") -3px -2px no-repeat;
}
.titles__item {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #000000;
}
.titles__item_white {
  color: #ffffff;
}

.button {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  line-height: 200%;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff;
  background: #f2726f;
  border-radius: 8px;
  padding: 12px 34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  -webkit-box-shadow: 0 16px 24px 0 rgba(38, 38, 38, 0.2), 0 8px 16px 0 rgba(38, 38, 38, 0.24);
          box-shadow: 0 16px 24px 0 rgba(38, 38, 38, 0.2), 0 8px 16px 0 rgba(38, 38, 38, 0.24);
}

.item-title {
  font-weight: 900;
  font-size: 19px;
  line-height: 137%;
  color: #f2726f;
}

.item-text {
  line-height: 150%;
  letter-spacing: 0.15px;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 26px 0px 0px 0px;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.offer {
  position: relative;
  background: url("../assets/offer/img/duotone.jpg") 50% 0/cover no-repeat;
}
.offer__content {
  padding: 280px 0px 312px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer__title {
  max-width: 583px;
  font-weight: 900;
  font-size: 56px;
  line-height: 100%;
  color: #ffffff;
}
.offer__title:not(:last-child) {
  margin-bottom: 48px;
}
.offer__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.who-we-are {
  padding: 0px 0px 118px 0px;
}
.who-we-are__content {
  position: relative;
  margin: -7.8% 0px 0px 0px;
  border-radius: 40px;
  padding: 97px 87px 1px 87px;
  background-color: #5d62b5;
}
.who-we-are__content::before {
  content: "";
  top: 100%;
  position: absolute;
  right: 44.1%;
  width: 51.3%;
  height: 53%;
  margin: -33.7% 0px 0px 0px;
  background: url("../assets/who-we-are/img/decor.png") 0 0/100% no-repeat;
}
.who-we-are__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 19.7%;
  height: 100%;
  margin: -11% 0px 0px 88%;
  background: url("../assets/who-we-are/icons/stylize-circles.svg") 0 0/100% no-repeat;
}
.who-we-are__header {
  position: relative;
  margin: 0px 0px 37px 0px;
}
.who-we-are__item {
  max-width: 583px;
}
.who-we-are__text {
  position: relative;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #f5f5f5;
}
.who-we-are__text:not(:last-child) {
  margin: 0px 0px 57px 0px;
}
.who-we-are__image {
  position: relative;
  margin: 0px 0px -14.2% 0px;
}
.who-we-are__img {
  max-width: 100%;
  border-radius: 40px;
  -webkit-box-shadow: 0px 8px 16px rgba(161, 92, 92, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(161, 92, 92, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.promise__content {
  padding: 110px 0px 122px 0px;
}
.promise__header:not(:last-child) {
  margin: 0px 0px 68px 0px;
}
.promise__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -12px;
  row-gap: 24px;
}
.promise__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 12px;
  min-width: 260px;
}

.item-promise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}
.item-promise__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63px;
          flex: 0 0 63px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-promise__img {
  max-width: 100%;
  max-height: 63px;
}
.item-promise__body {
  padding: 4px 0px 0px 0px;
}
.item-promise__title:not(:last-child) {
  margin-bottom: 20px;
}
.services__content {
  padding: 110px 0px 122px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.services__content::before {
  content: "";
  background: url("../assets/services/img/decor.png") left -580px no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0px 0px 0px 11%;
  width: 100%;
  height: 100%;
}
.services__header {
  position: relative;
}
.services__header:not(:last-child) {
  margin: 0px 0px 78px 0px;
}
.services__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 26px;
  margin: 0px -12px;
}
.services__items:not(:last-child) {
  margin-bottom: 67px;
}
.services__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 12px;
  min-width: 300px;
}
.services__button {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 12px 24px;
}

.item-services {
  background: #ffffff;
  border-radius: 20px;
  padding: 50px 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.item-services:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
.item-services__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63px;
          flex: 0 0 63px;
  width: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.item-services__icon:not(:last-child) {
  margin-bottom: 33px;
}
.item-services__img {
  max-width: 100%;
  max-height: 63px;
}
.item-services__title:not(:last-child) {
  margin-bottom: 20px;
}
.impact {
  position: relative;
  background-color: #29c3be;
}
.impact__container {
  position: relative;
}
.impact__content {
  position: relative;
  padding: 0px 0px 194px 0px;
}
.impact__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 41%;
  width: 68%;
  height: 100%;
  background: url("../assets/impact/img/decor.png") 0 0/100% no-repeat;
}
.impact__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -12px;
}
.impact__row:not(:last-child) {
  margin-bottom: 76px;
}
.impact__body {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 20px 12px 0px 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.impact__header {
  max-width: 420px;
}
.impact__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 12px;
  margin: -6.7% 0px 0px 0px;
}
.impact__img {
  max-width: 100%;
  border-radius: 40px;
}
.impact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px -12px;
  row-gap: 24px;
}
.impact__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0px 12px;
  min-width: 205px;
}

.item-impact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
}
.item-impact__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 76px;
          flex: 0 0 76px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-impact__img {
  max-width: 100%;
  max-height: 76px;
}
.item-impact__body {
  -ms-flex-item-align: center;
      align-self: center;
}
.item-impact__value {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #ffffff;
}
.item-impact__value:not(:last-child) {
  margin-bottom: 3px;
}
.item-impact__text {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #5d62b5;
}

.footer {
  background-color: #794f45;
  padding: 15px;
}