@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #4b4b4b;
  line-height: 1;
  background: #f5f5f5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1050px;
  margin: 0px auto;
  padding: 0px 15px;
}

.titles__label {
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5d62b5;
  padding: 0px 0px 0px 34px;
  background: url("../assets/promise/icons/overline-mark.svg") -3px -2px no-repeat;
}
.titles__label:not(:last-child) {
  margin-bottom: 28px;
}
.titles__label_white {
  color: #ffffff;
  background: url("../assets/about/icons/overline-mark-white.svg") -3px -2px no-repeat;
}
.titles__item {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #000000;
}
.titles__item_white {
  color: #ffffff;
}

.button {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  line-height: 200%;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff;
  background: #f2726f;
  border-radius: 8px;
  padding: 12px 34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  -webkit-box-shadow: 0 16px 24px 0 rgba(38, 38, 38, 0.2), 0 8px 16px 0 rgba(38, 38, 38, 0.24);
          box-shadow: 0 16px 24px 0 rgba(38, 38, 38, 0.2), 0 8px 16px 0 rgba(38, 38, 38, 0.24);
}

.item-title {
  font-weight: 900;
  font-size: 19px;
  line-height: 137%;
  color: #f2726f;
}

.item-text {
  line-height: 150%;
  letter-spacing: 0.15px;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 26px 0px 0px 0px;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.offer {
  position: relative;
  background: url("../assets/offer/img/bg.jpg") 50% 0/cover no-repeat;
}
.offer__content {
  padding: 280px 0px 312px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer__title {
  max-width: 583px;
  font-weight: 900;
  font-size: 56px;
  line-height: 100%;
  color: #ffffff;
}
.offer__title:not(:last-child) {
  margin-bottom: 48px;
}
.offer__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about {
  padding: 0px 0px 118px 0px;
}
.about__container {
  position: relative;
}
.about__container::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 63.33%;
  height: 100%;
  margin: -42.8% 0px 0px 0px;
  background: url("../assets/about/img/blob.png") 0 0/100% no-repeat;
}
.about__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 19.14%;
  height: 100%;
  margin: -10.3% 0px 0px 86.7%;
  background: url("../assets/about/icons/stylize-circles.svg") 0 0/100% no-repeat;
}
.about__content {
  margin: -7.8% 0px 0px 0px;
  border-radius: 40px;
  padding: 97px 87px 1px 87px;
  background: #5d62b5;
}
.about__header {
  position: relative;
  max-width: 583px;
}
.about__header:not(:last-child) {
  margin-bottom: 37px;
}
.about__text {
  position: relative;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #f5f5f5;
}
.about__text:not(:last-child) {
  margin-bottom: 57px;
}
.about__image {
  position: relative;
  margin: 0px 0px -14.2% 0px;
}
.about__img {
  max-width: 100%;
  border-radius: 40px;
  -webkit-box-shadow: 0px 8px 16px rgba(161, 92, 92, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(161, 92, 92, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.promise__container {
  position: relative;
  z-index: 2;
}
.promise__content {
  padding: 110px 0px 122px 0px;
}
.promise__header:not(:last-child) {
  margin-bottom: 68px;
}
.promise__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -12px;
  row-gap: 24px;
}
.promise__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 12px;
  min-width: 260px;
}

.item-promise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}
.item-promise__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63px;
          flex: 0 0 63px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-promise__img {
  max-width: 100%;
  max-height: 63px;
}
.item-promise__body {
  padding: 4px 0px 0px 0px;
}
.item-promise__title:not(:last-child) {
  margin-bottom: 20px;
}
.services__container {
  position: relative;
}
.services__container::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 49.6%;
  width: 137.14%;
  height: 136.85%;
  margin: -171.2% 0px 0px 11%;
  background: url("../assets/services/img/blob3.png") 0 0/100% no-repeat;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 110px 0px 122px 0px;
}
.services__header {
  position: relative;
}
.services__header:not(:last-child) {
  margin-bottom: 78px;
}
.services__items {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 26px;
  margin: 0px -12px;
}
.services__items:not(:last-child) {
  margin-bottom: 67px;
}
.services__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 12px;
  min-width: 300px;
}
.services__button {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 12px 24px;
}

.item-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 44px;
  background: #ffffff;
  border-radius: 20px;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.item-services:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
.item-services__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63px;
          flex: 0 0 63px;
  width: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.item-services__icon:not(:last-child) {
  margin-bottom: 33px;
}
.item-services__img {
  max-width: 100%;
  max-height: 63px;
}
.item-services__title:not(:last-child) {
  margin-bottom: 20px;
}
.appointment {
  position: relative;
  z-index: 1;
  background: url("../assets/appointment/img/bg.jpg") 50% 0/cover no-repeat;
}
.appointment__container {
  position: relative;
}
.appointment__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -9%;
  z-index: 1;
  margin: 22.7% 0px 0px 0px;
  width: 31.9%;
  height: 100%;
  background: url("../assets/appointment/icons/stylize-circles.svg") 0 0/100% no-repeat;
}
.appointment__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -18.2%;
  z-index: 2;
  margin: -1% 0px 0px 0px;
  width: 85.14%;
  height: 100%;
  background: url("../assets/appointment/img/blob4.png") 0 0/100% no-repeat;
}
.appointment__content {
  position: relative;
  padding: 130px 0px 210px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
  row-gap: 30px;
}
.appointment__left {
  position: relative;
  z-index: 3;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 58.57%;
          flex: 1 1 58.57%;
  padding: 0px 15px;
}
.appointment__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41.43%;
          flex: 1 1 41.43%;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.appointment__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 62px;
  text-align: center;
  max-width: 324px;
}
.appointment__label {
  font-weight: 900;
  font-size: 30px;
  line-height: 120%;
  color: #ffffff;
}
.appointment__number {
  font-weight: 900;
  font-size: 96px;
  line-height: 58%;
  color: #ffffff;
}
.appointment__text {
  font-weight: 900;
  font-size: 19px;
  line-height: 137%;
  color: #ffffff;
}

.form {
  padding: 76px 57px;
  border-radius: 40px;
  background: #5d62b5;
  -webkit-box-shadow: 0 16px 24px 0 rgba(38, 38, 38, 0.2), 0 8px 16px 0 rgba(38, 38, 38, 0.24);
          box-shadow: 0 16px 24px 0 rgba(38, 38, 38, 0.2), 0 8px 16px 0 rgba(38, 38, 38, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__title {
  text-align: center;
}
.form__title:not(:last-child) {
  margin-bottom: 46px;
}
.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -12.22px;
  row-gap: 22px;
}
.form__body:not(:last-child) {
  margin-bottom: 26px;
}
.form__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 12.22px;
  min-width: 180px;
}
.form__input {
  padding: 0px 0px 0px 23px;
  background: #5d62b5;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  min-height: 48px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 0, 0.8);
}
.form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__select {
  padding: 0px 0px 0px 23px;
  background: #5d62b5;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  min-height: 48px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 0, 0.8);
}
.form__select:invalid {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__option {
  color: rgba(255, 255, 0, 0.8);
}
.form__textarea {
  padding: 12px 0px 0px 23px;
  background: #5d62b5;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  resize: none;
  min-height: 182px;
  width: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 0, 0.8);
}
.form__textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  letter-spacing: 0.01em;
}
.form__button {
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.customers__container {
  position: relative;
}
.customers__container::before {
  content: "";
  position: absolute;
  top: 100%;
  left: -58%;
  width: 102.8%;
  height: 230%;
  margin: -149% 0px 0px 0px;
  background: url("../assets/customers/img/blob5.png") 0 0/100% no-repeat;
}
.customers__content {
  position: relative;
  padding: 120px 0px 210px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -12px;
  row-gap: 24px;
}
.customers__header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 12px;
}
.customers__review {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 12px;
}

.review-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 45px 45px 45px;
  background: #ffffff;
  border-radius: 20px;
  height: 100%;
}
.review-customers__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.review-customers__text:not(:last-child) {
  margin-bottom: 34px;
}
.review-customers__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
}
.review-customers__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.review-customers__img {
  max-width: 100%;
  max-height: 48px;
  border-radius: 50%;
}
.review-customers__name {
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #f2726f;
}

.impact {
  position: relative;
  background: #29c3be;
}
.impact__container {
  position: relative;
}
.impact__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 41.4%;
  width: 66.19%;
  height: 100%;
  background: url("../assets/impact/img/blob6.png") 0 0/100% no-repeat;
}
.impact__content {
  padding: 0px 0px 20.7% 0px;
}
.impact__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -12px;
}
.impact__row:not(:last-child) {
  margin-bottom: 76px;
}
.impact__body {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 20px 12px 0px 12px;
}
.impact__header {
  max-width: 420px;
}
.impact__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 12px;
  margin: -6.7% 0px 0px 0px;
}
.impact__img {
  max-width: 100%;
  border-radius: 40px;
}
.impact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px -12px;
  row-gap: 24px;
}
.impact__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0px 12px;
  min-width: 205px;
}

.item-impact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
}
.item-impact__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 76px;
          flex: 0 0 76px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-impact__img {
  max-width: 100%;
  max-height: 76px;
}
.item-impact__body {
  -ms-flex-item-align: center;
      align-self: center;
}
.item-impact__value {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #ffffff;
}
.item-impact__value:not(:last-child) {
  margin-bottom: 3px;
}
.item-impact__text {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #5d62b5;
}

.appointment-cta__content {
  position: relative;
  margin: -7.7% 0px 0px 0px;
  padding: 43px 70px;
  border-radius: 20px;
  background: #5d62b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.appointment-cta__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 125%;
  color: #ffffff;
  max-width: 562px;
}
.appointment-cta__button {
  -ms-flex-item-align: center;
      align-self: center;
}

.footer {
  background-color: #794f45;
  padding: 15px;
}