/* 
&display=swap
&subset=cyrillic-ext 
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* по умолчанию */
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #4b4b4b;
  background: #f5f5f5;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ------------------------------ */

.header {
  margin-bottom: 200px;
}

.main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: 1020px;
  margin: 0 auto;
}

.titles {
}

.titles *:not(:last-child) {
  margin-bottom: 28px;
}

.titles__label {
  background: url('../assets/mainpage/promise/icons/title-icon.svg') -3px -2px
    no-repeat;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5d62b5;
  padding: 0px 0px 0px 34px;
}

.titles__label_white {
  background: url('../assets/mainpage/who-we-are/icons/title-icon_white.svg') -3px -2px
    no-repeat;
  color: #ffffff;
}

.titles__item {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #000000;
}

.titles__item_white {
  color: #ffffff;
}

.item-title {
  font-weight: 900;
  font-size: 19px;
  line-height: 137%;
  color: #f2726f;
}

.item-text {
  line-height: 150%;
  letter-spacing: 0.15px;
}

.who-we-are {
  padding: 0px 0px 118px 0px;
}
.who-we-are__container {
  position: relative;
  background-color: #5d62b5;
  border-radius: 40px;
  padding: 97px 87px 1px 87px;
}

/* .who-we-are__container::before {
  content: '';
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 65%;
  height: 371px;
  transform: translate(30%, 0);
  background: url('../assets/mainpage/who-we-are/img/decor\ 2.png') 0 0 / 100%
    no-repeat;
} */

/* .impact__container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(87%, 0px);
  width: 68%;
  height: 100%;
  background: url('../assets//mainpage/impact/img/decor.png') 0 0 / 100%
    no-repeat;
} */

.who-we-are__container::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  width: 19.7%;
  height: 100%;
  margin: -110px 0px 0px 38%;
  background: url('../assets/mainpage/who-we-are/icons/stylize-circles.svg') 0 0
    no-repeat;
}

.who-we-are__header {
  position: relative;
  margin: 0px 0px 37px 0px;
}

.who-we-are__label {
}

.who-we-are__item {
  max-width: 583px;
}

.who-we-are__text {
  position: relative;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #f5f5f5;
}

.who-we-are__text:not(:last-child) {
  margin: 0px 0px 57px 0px;
}

.who-we-are__image {
  position: relative;
  margin: 0px 0px -14.2% 0px;
}
/* -11.86% */

.who-we-are__image img {
  max-width: 100%;
  border-radius: 40px;
  box-shadow: 0px 8px 16px rgba(161, 92, 92, 0.24),
    0px 16px 24px rgba(38, 38, 38, 0.2);
}

.promise {
  padding: 110px 0px 0px 0px;
}
.promise__container {
}
.promise__header {
  margin: 0px 0px 68px 0px;
}

.promise__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -12px;
  row-gap: 24px;
}
.promise__item {
  flex: 1 1 33.333%;
  padding: 0px 12px;
  min-width: 260px;
}

.item-promise {
  display: flex;
  align-items: flex-start;
  column-gap: 23px;
}
.item-promise__icon {
  flex: 0 0 63px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.item-promise__icon img {
  max-width: 100%;
  max-height: 63px;
}

.item-promise__body {
  padding: 4px 0px 0px 0px;
}
.item-promise__title {
}

.item-promise__title:not(:last-child) {
  margin-bottom: 20px;
}

.item-promise__text {
}

.services {
  padding: 110px 0px 113px 0px;
}

.services__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.services__container::before {
  content: '';
  background: url('../assets/mainpage/services/img/decor.png') left -580px no-repeat;
  position: absolute;
  top: -110px;
  left: 50%;
  margin: 0px 0px 0px 11%;
  width: 100%;
  height: 100%;
}

.services__header {
  position: relative;
  margin: 0px 0px 78px 0px;
}

.services__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 26px;
  margin: 0px -12px;
}
.services__items:not(:last-child) {
  margin-bottom: 68px;
}
.services__item {
  flex: 1 1 33.333%;
  padding: 0px 12px;
  min-width: 300px;
}

.services__button {
  align-self: center;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff;
  background: #f2726f;
  border-radius: 8px;
  padding: 18px 24px;
}

.item-services {
  background: #ffffff;
  border-radius: 20px;
  padding: 50px 44px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  transition: 0.3s;
}

.item-services:hover {
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24),
    0px 16px 24px rgba(38, 38, 38, 0.2);
}

.item-services__icon {
  flex: 0 0 63px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.item-services__icon img {
  max-width: 100%;
  max-height: 63px;
}

.item-services__icon:not(:last-child) {
  margin-bottom: 33px;
}
.item-services__title {
}

.item-services__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.item-services__text {
}

.impact {
  position: relative;
  background-color: #29c3be;
  padding: 0px 0px 194px 0px;
}

.impact__container {
  position: relative;
}

.impact__container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(87%, 0px);
  width: 68%;
  height: 100%;
  background: url('../assets//mainpage/impact/img/decor.png') 0 0 / 100%
    no-repeat;
}
.impact__body {
  position: relative;
  display: flex;
  margin: 0px -12px;
}
.impact__body:not(:last-child) {
  margin-bottom: 76px;
}
.impact__content {
  align-self: flex-end;
  padding: 0px 12px 0px 12px;
  flex: 0 1 50%;
}
.impact__header {
  max-width: 420px;
}
.impact__image {
  flex: 0 1 50%;
  padding: 0px 12px;
  margin: -6.7% 0px 0px 0px;
}
.impact__image img {
  max-width: 100%;
  border-radius: 40px;
}
.impact__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0px -12px;
  row-gap: 24px;
}

.impact__item {
  flex: 1 1 25%;
  padding: 0px 12px;
  min-width: 205px;
}
.item-impact {
  display: flex;
  align-items: flex-start;
  column-gap: 11px;
}
.item-impact__icon {
  flex: 0 0 76px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.item-impact__icon img {
  max-width: 100%;
  max-height: 76px;
}

.item-impact__body {
  align-self: center;
}
.item-impact__value {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #ffffff;
}

.item-impact__value:not(:last-child) {
  margin-bottom: 3px;
}

.item-impact__text {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #5d62b5;
}
